Repository nitintf/react-advance-template: changes, and which lint-staged commands are due for each by the changed paths.
All: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

.lintstagedrc.yml:

'*.{ts,tsx}':
  - organize-imports-cli
  - npm run format:base -- --write
  - npm run lint:base -- --fix
'*.{json,yml,yaml,md,css,scss}':
  - npm run format:base -- --write
'src/**/*.{js,jsx}':
  - organize-imports-cli
  - npm run format:base -- --write
  - npm run lint:base -- --fix

fix: precommit hook
  .husky/pre-commit
Due: none

feat: redux, epics
  .gitignore
  .npmrc
  .nvmrc
  config/webpack.common.js
  config/webpack.dev.js
  package.json
  src/AppRoutes.tsx
  src/MainApp.tsx
  src/components/common/ErrorBoundary/index.scss
  src/components/common/ErrorBoundary/index.tsx
  src/epics/auth.epic.ts
  src/epics/index.ts
  src/index.tsx
  src/reducers/auth.reducer.ts
  src/reducers/index.ts
  src/store.ts
  src/styles/variables.scss
  tsconfig.json
  yarn-error.log
  yarn.lock
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

refactor
  Dockerfile
  config/webpack.common.js
  docker-compose.yml
  package.json
  src/MainApp.tsx
  src/epics/auth.epic.ts
  src/index.tsx
  src/reducers/auth.reducer.ts
  src/reducers/index.ts
  src/selectors/auth.ts
  src/selectors/index.ts
  src/styles/prepareAppStyles.ts
  yarn.lock
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

feat: vite + react app
  .dockerignore
  .env
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .npmrc
  .nvmrc
  .prettierignore
  .prettierrc.json
  .storybook/main.js
  .storybook/preview.js
  Dockerfile
  Dockerfile.deploy
  Makefile
  README.md
  babel.config.js
  codecov.yml
  codegen.ts
  deploy/.gitkeep
  doc/.gitkeep
  docker-compose.yml
  index.html
  index.js
  jest.config.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  public/icon.png
  schema/schema.graphqls
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

feat: vite + react app
  pnpm-lock.yaml
Due: npm run format:base -- --write

refactor: config ignore
  .eslintignore
  .prettierignore
Due: none

refactor: removing .env
  .env
  .env.example
  .gitignore
Due: none

adding apollo and error boundary
  .env.example
  .eslintrc.json
  .lintstagedrc.yml
  .prettierrc
  deploy/.gitkeep
  deploy/.helmignore
  deploy/Chart.yaml
  deploy/templates/NOTES.txt
  deploy/templates/_helpers.tpl
  deploy/templates/deployment.yaml
  deploy/templates/hpa.yaml
  deploy/templates/ingress.yaml
  deploy/templates/service.yaml
  deploy/templates/serviceaccount.yaml
  deploy/templates/tests/test-connection.yaml
  deploy/values.prod.yaml
  deploy/values.staging.yaml
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/Routes.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/common/index.ts
  src/gql/api.ts
  src/utils/env.ts
  tsconfig.json
  vite.config.ts
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

format
  .lintstagedrc.yml
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  babel.config.js
  codecov.yml
  codegen.ts
  docker-compose.yml
  index.html
  index.js
  jest.config.js
  jest.setup.ts
  pnpm-lock.yaml
  src/App.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/common/index.ts
  src/gql/api.ts
  src/main.tsx
  src/utils/env.ts
  vite.config.ts
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

adding tests
  .eslintrc.json
  .gitignore
  .lintstagedrc.yml
  jest.config.js
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/components/common/ErrorBoundary.tsx
  src/components/common/__tests__/ErrorBoundary.test.tsx
  src/index.css
  src/utils/__tests__/env.test.ts
  src/utils/env.ts
  src/utils/types.ts
  tsconfig.json
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

adding tests
  jest.config.js
  pnpm-lock.yaml
Due: npm run format:base -- --write

fix: test & env util
  .lintstagedrc.yml
  docker-compose.yml
  index.js
  package.json
  pnpm-lock.yaml
  src/Routes.tsx
  src/utils/__tests__/env.test.ts
  src/utils/env.ts
  src/vite-env.d.ts
  vite.config.ts
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

pnpm-lock
  pnpm-lock.yaml
Due: npm run format:base -- --write

refactor: removing required field from getEnv
  src/utils/__tests__/env.test.ts
  src/utils/env.ts
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

small change
  .prettierignore
  src/App.tsx
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

adding pretty-quick
  .lintstagedrc.yml
  pnpm-lock.yaml
Due: npm run format:base -- --write

adding k8s
  Dockerfile.deploy
  deploy/templates/config-map.yaml
  deploy/templates/deployment.yaml
  deploy/templates/hpa.yaml
  deploy/templates/ingress.yaml
  deploy/templates/service.yaml
  deploy/templates/serviceaccount.yaml
  deploy/templates/tests/test-connection.yaml
  deploy/values.prod.yaml
  deploy/values.yaml
  docker-compose.yml
  index.js
  k8s/confgiMap.yaml
  k8s/deployment.yaml
  k8s/service.yaml
  src/gql/api.ts
  vite.config.ts
Due: organize-imports-cli, npm run format:base -- --write, npm run lint:base -- --fix

refactor
  k8s/deployment.yaml
  k8s/service.yaml
Due: npm run format:base -- --write
